version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly

  - package-ecosystem: gomod
    directory: /proxy
    schedule:
      interval: monthly

  - package-ecosystem: npm
    directory: /app
    schedule:
      interval: monthly
